@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Maven Pro";
  src: url(../fonts/MavenPro-Regular.ttf);
}
@font-face {
  font-family: "Maven Pro";
  src: url(../fonts/MavenPro-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Abel";
  src: url(../fonts/Abel-Regular.ttf);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --deep-red: #ED2929;
  --maroon: #462222;
}

.MuiButton-contained{
  border-radius: 0.625rem;
  text-transform: capitalize;
  padding-top: 1.625rem ;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.625rem ;
}

.MuiTypography-root{
  font-family: "Maven Pro";
}

.MuiTypography-button{
  font-weight: 900;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.sectionHeader{
  font-size: 3.25rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2.688rem;
  margin-bottom: 2.688rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  .MuiButton-contained{
    background-color: var(--deep-red);
  }

  .MuiButton-contained:hover{
    background-color: white;
    color: var(--deep-red);
  }

  .deepColor{
    color: var(--deep-red);
  }
  
  .sectionHeader{
    color: var(--deep-red);
  }

  .bgPaper{
    background-color: #0E0E0E; 
  }

  .fgPaper{
    background-color: #141414;
    color: white;
  }
}

.MuiTypography-body1{
  font-size: 2rem;
  line-height: 2.375rem;
}

.MuiTypography-body2{
  font-size: 1.5rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbarAppBar{
  box-shadow: 0px 4px 4px 0px rgba(170, 168, 168, 0.25);
  position: relative;
}

.navbarButton{
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
}

.navbarButton:last-child{
  margin-right: 0;
}

.navbarButton:hover{
  background-color: gray;
}


.logoText{
  font-size: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.875rem;
  padding-left: 0.75rem;
}

.logoCircle{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.layeredPaperDiv{
  position: relative;
}

.bgPaper, .fgPaper {
  width: 100%;
  border-radius: 10px;
  font-size: 2rem;
  padding: 3rem 2.813rem 3rem 2.813rem;
  box-shadow: none;
}

.bgPaper > .MuiTypography-root{color: transparent;}

.fgPaper {
  position: relative;
}

.bgPaper{
  margin-top: 1.5rem;
  position: absolute;
  margin-left: 1.5rem;
}

.splashSectionBox .aboutSectionBox{
  position: relative;
}

.splashSectionBox{
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  margin-bottom: 6.438rem;
}

.lavaLampBox, .splashLayeredPaperBox{
  width: 50%;
}

.andrew-portrait{
  position: relative;
  margin: auto;
}

.projectsBox{
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.projectBox{
  width: 45%;
}

.projectHero .projectDetails, .projectLinks{
  width: 100%;
}

.projectHero{
  background: white;
  min-height: 20rem;
  border-radius: 10px 10px 0 0;
}

.projectDetails, .projectLinks{
  background: var(--maroon);
}

.projectDetails {
  padding: 1rem 1.5rem;
  border-radius: 0 0 10px 10px;
}

.projectTitle{
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.projectLinks{
  margin-top: 1rem;
}

.projectLinks .MuiLink-root {
  color: inherit;
}

.projectLinks .MuiSvgIcon-root{
  width: 40px;
  height: 40px;
}
@media (min-width: 600px){
  .MuiToolbar-root.navbarToolbar{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 599px){
  
}