@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Maven Pro";
  src: url(../fonts/MavenPro-Regular.ttf);
}
@font-face {
  font-family: "Maven Pro";
  src: url(../fonts/MavenPro-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Abel";
  src: url(../fonts/Abel-Regular.ttf);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --deep-red: #ED2929;
  --maroon: #462222;
  --xl-breakpoint: 1536px;
  --lg-breakpoint: 1200px;
  --md-breakpoint: 900px;
  --sm-breakpoint: 600px;
}

.site-content{
  padding: 6rem;
}

.MuiButton-contained{
  border-radius: 0.625rem;
  text-transform: capitalize;
  padding: 1rem 2rem;
}

.MuiTypography-root{
  font-family: "Maven Pro";
}

.MuiTypography-button{
  font-weight: 900;
  text-transform: capitalize;
  font-size: 1.35rem;
}

.sectionHeader{
  font-size: 2.925rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2.688rem;
  margin-bottom: 2.688rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  .MuiButton-contained{
    background-color: var(--deep-red);
  }

  .MuiButton-contained:hover{
    background-color: white;
    color: var(--deep-red);
  }

  .deepColor{
    color: var(--deep-red);
  }
  
  .sectionHeader{
    color: var(--deep-red);
  }

  .bgPaper{
    background-color: #0E0E0E; 
  }

  .fgPaper{
    background-color: #141414;
    color: white;
  }

  .contactFormBox  .MuiFilledInput-root{
    background-color: white;
  }
    
}

.MuiTypography-body1{
  font-size: 1.8rem;
  line-height: 2.1375rem;
}

.MuiTypography-body2{
  font-size: 1.35rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbarAppBar{
  box-shadow: 0px 4px 4px 0px rgba(170, 168, 168, 0.25);
  position: relative;
}

.navbarToolbar .andrewPortrait{
  position: relative;
  margin: auto;
  width: 3.25rem;
  height: 3.25rem;
}

.navbarButton{
  font-weight: 700;
  font-size: 1.35rem;
  text-transform: capitalize;
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
}

.navbarButton:last-child{
  margin-right: 0;
}

.navbarButton:hover{
  background-color: gray;
}


.logoText{
  font-size: 1.8rem;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.6875rem;
  padding-left: 0.75rem;
}

.logoCircle{
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: var(--deep-red);
}

.layeredPaperDiv{
  position: relative;
}

.bgPaper, .fgPaper {
  width: 100%;
  border-radius: 0.625rem;
  font-size: 1.8rem;
  padding: 3rem 2.813rem;
  box-shadow: none;
}

.bgPaper > .MuiTypography-root{color: transparent;}

.fgPaper {
  position: relative;
}

.bgPaper{
  margin-top: 1.5rem;
  position: absolute;
  margin-left: 1.5rem;
}

.splashSectionBox, .aboutSectionBox{
  position: relative;
}

.splashSectionBox{
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

.aboutSectionBox, .portfolioSectionBox, .contactSectionBox {
  margin-top: 10.75rem;
}

.splashLayeredPaperBox {
  width: 60%;
}

.lavaLampBox {
  width: 40%;
  height: 100%;
}

.lavaLampBox .andrewPortrait{
  position: relative;
  /* margin: auto; */
  margin-top: 15%;
  margin-left: 35%;
  max-width: 12.5rem;
}

.downloadBtnsBox{
  width: 75%;
  margin: auto;
  margin-top: 3rem;
}

.projectsBox{
  flex-flow: row wrap;
  justify-content: space-between;
}

.webDevProjectCard{
  width: 31%;
}

.webDevProjectHero .webDevProjectDetails, .webDevProjectLinks{
  width: 100%;
}

.webDevProjectHero{
  background: white;
  height: 15rem;
  border-radius: 0.625rem 0.625rem 0 0;
}

.webDevProjectDetails, .webDevProjectLinks{
  background: var(--maroon);
}

.webDevProjectDetails {
  padding: 1rem 1.5rem;
  border-radius: 0 0 0.625rem 0.625rem;
  border-top: 2px solid black;
}

.webDevProjectTitle{
  font-size: 1.525rem;
  height: 4.125rem;
  font-weight: 900;
}

.webDevProjectDescription {
  margin-top: 0.75rem;
  line-height: 30px;
  min-height: 11.25rem;
}

.webDevProjectLinks{
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
}

.webDevProjectLinks .MuiLink-root {
  color: inherit;
  margin-right: 0.5rem;
}

.webDevProjectLinks .MuiSvgIcon-root{
  width: 1.875rem;
  height: 1.875rem;
}

.contactSectionContent{
  display: flex;
  justify-content: space-between;
}

.contactSectionBox .layeredPaperDiv{
  width: 48%;
  margin-top: 2.5rem;
}

.contactSectionBox .layeredPaperDiv .bgPaper, .contactSectionBox .layeredPaperDiv .fgPaper {
  padding: 8.375rem 3rem;
}

.contactSectionBox .contactFormBox{
  width: 45%;
  display: flex;
  flex-direction: column;
}

.contactSectionBox .contactFormBox .MuiButton-contained{
  width: 70%;
  margin: auto;
}

.contactFormBox .MuiFilledInput-root{
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
}

@media (min-width: 600px){
  .MuiToolbar-root.navbarToolbar{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.splashSectionBox::before{
  position: absolute;
  z-index: 3;
  /* content: "XL"; */
}

@media (max-width: 1200px) {
  .splashSectionBox::before{
    /* content: "LG"; */
    position: absolute;
    z-index: 3;
  }
}

@media (max-width: 900px) {
  .MuiTypography-button, .MuiTypography-body2, .navbarButton{
    font-size: 1.2rem;
  }
  .MuiTypography-body1{
    font-size: 1.6rem;
  }
  .sectionHeader{
    font-size: 2.6rem;
  }
  .splashSectionBox::before{
    position: absolute;
    z-index: 3;
    /* content: "MD"; */
  }
  .navbarToolbar{
    display: flex;
    justify-content: space-between;
  }
  .navbarButton{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .webDevProjectCard{
    width: 100%;
    margin-bottom: 1rem;
  }
  .webDevProjectHero{
    height: 15rem;
  } 
  .webDevProjectTitle{
    height: 6.125rem;
  }
  .splashSectionBox{
    flex-direction: column-reverse;
  }
  .lavaLampBox, .splashLayeredPaperBox {
    width: 100%;
  }
  .lavaLampBox {
    max-height: 600px;
    min-height: 300px;
  }
  .lavaLampBox .andrewPortrait{
    margin: auto;
    margin-top: 3rem;
  }
  .downloadBtnsBox{
    flex-direction: column;
  }
  .downloadBtnsBox .MuiButton-root{
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    margin: auto;
    margin-bottom: 1rem;
  }
  .contactSectionBox .layeredPaperDiv{
    margin-top: 0;
  }
  .contactSectionBox .layeredPaperDiv .bgPaper, .contactSectionBox .layeredPaperDiv .fgPaper {
    padding: 3rem 2.813rem;
  }
  .contactSectionContent {
    flex-direction: column;
  }
  .contactSectionBox .layeredPaperDiv{
    margin-bottom: 2.5rem ;
  }
  .contactSectionBox .layeredPaperDiv{
    width: 95%;
  }
  .contactSectionBox .contactFormBox{
    width: 100%;
  }
}

@media (max-width: 600px) {
  .site-content{
    padding: 6rem 3rem;
  }
  .splashSectionBox::before{
    /* content: "SM"; */
    position: absolute;
    z-index: 3;
  }
  .bgPaper{
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .bgPaper, .fgPaper {
    padding: 2rem 1.813rem;
  }
  .lavaLampBox .andrewPortrait{
    margin-top: 2rem;
  }
  .downloadBtnsBox {
    width: 85%;
  }
  .webDevProjectTitle{
    height: 4.125rem;
  }
  .webDevProjectCard{
    width: 100%;
  }
  .webDevProjectTitle{
    height: fit-content;
  }
  .contactSectionBox .layeredPaperDiv .bgPaper, .contactSectionBox .layeredPaperDiv .fgPaper{
    padding: 2rem 1.813rem;
  }
  .contactSectionBox .contactFormBox .MuiButton-contained{
    width: 100%;
  }
}