@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Maven Pro";
  src: url(../fonts/MavenPro-Regular.ttf);
}
@font-face {
  font-family: "Maven Pro";
  src: url(../fonts/MavenPro-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Abel";
  src: url(../fonts/Abel-Regular.ttf);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.MuiTypography-root{
  font-family: "Maven Pro";
}

.navbarAppBar{
  box-shadow: 0px 4px 4px 0px rgba(170, 168, 168, 0.25);
}

.navbarButton{
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
}

.navbarButton:last-child{
  margin-right: 0;
}

.navbarButton:hover{
  background-color: gray;
}


.logoText{
  font-size: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.875rem;
  padding-left: 0.75rem;
}

.logoCircle{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 600px){
  .MuiToolbar-root.navbarToolbar{
    padding-left: 5rem;
    padding-right: 5rem;
  }

}